* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    font-size: 18px;
    background-image: url(background/studying.gif);
    background-size: cover;
    font-family: 'Fantasy', Copperplate;
}

.hero {
    position: relative;
    height: 100vh;
    background-image: url("/background/home.gif"); 
    opacity: 0.9;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-nav {
    background-color: #3a4b6e;
    opacity: 0.9;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.top-nav a {
    margin: 0 18px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: 500;
}

.top-nav a:hover {
    color: #638fe5;
}

.agency-header {
    background-color: #ffffff;
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid #0d5722;
}

.agency-left-text {
    line-height: 1.4;
}

.agency-left-text h1 {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
}

.categories-container {
    position: relative;
    top: -180px;
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 100px;
}

.category-section {
    background: rgb(56, 78, 107);
    opacity: 0.9;
    padding: 10px 10px;
    border-radius: 20px;
    transition: 0.25s ease;
    text-align: center;
}

.category-section:hover {
    transform: translateY(-4px);
}

.category-section img {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
}

.category-section a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.category-section p {
    font-size: 15px;
    margin-top: 8px;
    color: #444;
    line-height: 1.5;
}
